ul {
	list-style: none;
	text-align: left;
	display: inline;
	margin: 0;
	padding: 15px 4px 17px 0;
}

ul li {
	display: inline-block;
	margin-right: -4px;
	position: relative;
	padding: 5px 5px;
	background: #000;
	cursor: pointer;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

ul li:hover {
	background: #222;
	color: #fff;
}

ul li ul {
	padding: 0;
	position: absolute;
	top: 80px;
	left: 0;
	width: 150px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 1;
	visibility: hidden;
}

ul li ul li a {
	font-family: 'Century Gothic';
	background: #555;
	color: #fff;
	display: block;
}

ul li ul li:hover {
	background: #666;
}

ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}